header.header .logo {
  padding-top: 4px;
}
aside section.sidebar .user-panel {
  display: flex;
  align-items: center;
  flex-direction: column;
}

aside section.sidebar .user-panel .image > img {
  width: 80px;
  height: 80px;
}

.navbar-nav > .user-menu > .dropdown-menu > li.user-header {
  background-color: #333;
}

.modal .modal-content .modal-body .container-fluid {
  height: 500px;
  overflow-y: scroll;
}